# cache
*.idx*
*.dylib
*.dll
*.dat*
*.jct

# class files
*.class
/bin
/out

# virtual machine crash logs
hs_err_pid*

# ide files
/target
*.iml
*.project
*.classpath
.idea/*
.gradle/*
.gradle/

# player saves
/data/saves/characters/*

# maps
*.os

# archives
*.rar
/.gradle/
