# cache
*.idx*
*.dylib
*.dll
*.dat*
*.jct

# class files
*.class
/bin
/bin/*
/out
/out/*

# error logs
hs_err_pid*
data/logs/error.log

# ide files
/target
*.iml
*.project
*.classpath
.idea/*
.gradle/*
.gradle/
build/*
build

# player saves
/data/saves/characters/*

# maps
*.os

# archives
*.rar
/.gradle/

