<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <root level="trace"/>
    <logger name="io.mockk" level="WARN"/>
    <logger name="org.jetbrains.exposed" level="WARN"/>
    <logger name="com.zaxxer.hikari.pool" level="WARN"/>
    <logger name="com.zaxxer.hikari.HikariConfig" level="WARN"/>
</configuration>

