<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <conversionRule conversionWord="colour" class="world.gregs.voidps.engine.log.LogLevelColourConverter"/>
    <conversionRule conversionWord="message" class="world.gregs.voidps.engine.log.LogMessageColourConverter"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%colour(%level) %green([%logger{0}]) %message(%msg){}%n%red(%ex)</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="console"/>
    </root>
    <logger name="org.jetbrains.exposed" level="WARN"/>
    <logger name="com.zaxxer.hikari.pool" level="WARN"/>
    <logger name="com.zaxxer.hikari.HikariConfig" level="WARN"/>
</configuration>